body {
    /* background-color: #f9f3f3; */
}
.login-container {
    background-color: rgb(213, 228, 208);
    min-height: 100vh;
}
.login-area {
    width:350px;
    border-radius: 5px;
    margin:10%;
    padding:10px;
    text-align:center;
    height: 400px;
    background-color:white;
    color:#282846;
    box-shadow: 4px 4px 10px lightgrey;
}
.color-btn {
    background-color: #282846;
}